body{
    font-family: Arial, Helvetica, sans-serif;
    color :#000000;
    background-color: #ffffff;
    margin: 0px;
    padding:0px;
}

header{
    background-color: black;
    padding-bottom: 100px;
    margin-top:30px;
    color:white;
    
    
}

.nombre{
    border: 2px solid #686b56;
    text-align: center;
    background-color: #b2b19f;
    font-size: 3em;
}

.subTitulo{
    font-size: 0.4em;
    text-decoration:underline rgb(148, 148, 148);
}

*{
    background-color:rgb(0, 251, 255)
    ;
}