<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col-sm-4 bg-darkGray p-4" id="col1">
        <app-perfil></app-perfil>
        <app-contacto></app-contacto>
        <app-habilidades></app-habilidades>
      </div>
      <div class="col-sm-8 p-4 bg-lightGray">
          <app-experiencia-laboral></app-experiencia-laboral>
          <app-educacion></app-educacion>
          <app-proyectos></app-proyectos>
      </div>
  </div>
</div>
<app-footer></app-footer>

